<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8" />
<body>
	<div th:fragment="mainPart">
		<form action="#" th:action="@{/addBox}" th:object="${boxListLocation}"
			method="post">

			<div class="row mb--20">
				<div class="col-12">
					<label for="manyBox">создание диапазона ячеек</label> <input
						type="radio" th:field="*{manyBox}" th:value="${false}"> <label>одна</label>
					<input type="radio" th:field="*{manyBox}" th:value="${true}">
					<label>диапазон</label>
				</div>
			</div>

			<div class="row mb--20">
				<div class="col-6">
					<div class="form__group">
						<label class="form__label" for="number"> номер ячейки </label> <input
							th:field="*{number}" type="text" name="number" id="number"
							class="form__input" />
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-3">
					<label for="locationWB">место хранения</label>
				</div>
				<div class="col-3">
					<select class="form-control selectpicker" th:field="${locationWB}"
						id="locationWB">
						<option th:each="entry : ${locationWB.entrySet()}"
							th:value="${entry.key}" th:text="${entry.value}">This
							will be replaced - is only used for natural templating</option>
					</select>
				</div>
			</div>

			<div class="row">
				<div class="col-3">
					<label for="startNum" class="form__label"> начальная ячейка
					</label> <input th:field="*{startNum}" type="number" id="startNum}"
						class="form__input" />
				</div>
				<div class="col-3">
					<label class="form__label" for="endNum"> конечная ячейка </label> <input
						th:field="*{endNum}" type="number" name="endNumendNum" id="endNum"
						class="form__input" />
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<div class="form__group">
						<input type="submit" value="создать ячейку"
							class="btn btn-size-md" />
					</div>
				</div>
			</div>
		</form>
	</div>
</body>

</html>