<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8" />
<body>
	<div th:fragment="mainPart">
		<form action="#" th:action="@{/createInDoc}"
			th:object="${ExDocWEBList}" method="post">
			<div class="row mb--20">
				<div class="col-1">номер</div>
				<div class="col-2">место приема</div>
				<div class="col-2">ячейка приема</div>
				<div class="col-3">инструмент</div>
				<div class="col-2">количество</div>
				<div class="col-1">удалить</div>
			</div>
			
				<div  th:each="doc,iter : ${ExDocWEBList.docList}" class="row mb--20">
					<div class="col-1">
						<span th:text="${iter.index}+1"></span> <input
							th:field="*{docList[__${iter.index}__].docType}" type="text"
							th:value="INDOC" hidden="hidden" />
					</div>
					<div class="col-2">
						<select class="form-control selectpicker"
							th:field="*{docList[__${iter.index}__].inLocation}"
							th:onchange="'searchOutBox('+${iter.index}+')'"
							th:id="'doc'+${iter.index}+'inLocation'">
							<option th:each="entry : ${locationList.entrySet()}"
								th:value="${entry.key}" th:text="${entry.value}">This
								will be replaced - is only used for natural templating</option>
						</select>
					</div>
					<div class="col-2">
						<select class="form-control selectpicker"
							th:field="*{docList[__${iter.index}__].inBox}"
							th:id="'docList' + ${iter.index} +'inBox'">
						</select>
					</div>
					<div class="col-3">
						<select class="form-control selectpicker"
							th:field="*{docList[__${iter.index}__].instrument}"
							id="instrumentList">
							<option th:each="entry : ${instrumentList.entrySet()}"
								th:value="${entry.key}" th:text="${entry.value}">This
								will be replaced - is only used for natural templating</option>
						</select>
					</div>
					<div class="col-2">
						<input type="number"
							th:field="*{docList[__${iter.index}__].amount}"
							id="amount-${iter.index}" class="form__input" required /> <span
							th:if="${#fields.hasErrors('docList[__${iter.index}__].amount')}"
							th:errors="*{docList[__${iter.index}__].amount}">error</span>
					</div>
					<div class="col-1">
						<input type="button" value="remove"
							th:onclick="removeRow([[${iter.index}]])">
					</div>



				</div>
	
			<input type="submit" value="создать документ" class="btn btn-size-md" />
			<input class="btn btn-size-md" id="searchInstrument" value="add row"
				onclick="addRow()" />
			<ul th:if="${#fields.hasErrors('*')}">
				<li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input
					is incorrect</li>
			</ul>
		</form>
		<script>
		function searchOutBox(id) {
			//alert("docList" + id + ".outLocation");
	var list=  document.getElementById("doc" + id + "inLocation");
	var search = {};
	search["boxId"] = list.options[list.selectedIndex].value;
	$.ajax({
		type : "POST",
		contentType : "application/json",
		url : "./getBoxFilter",
		data : JSON.stringify(search),
		dataType : 'json',
		timeout : 100000,
		success : function(data) {
			console.log("SUCCESS: ", data);
			//display(data);
			var boxmap = new Map(Object.entries(data.boxListId))
			var select = document.getElementById("docList" + id +"inBox");
			select.options.length=0;
			for (var [key, value] of boxmap) {
				console.log(key + ' = ' + value);
				var option = document.createElement("option");
				option.value = key,
				option.text =value;
				select.add(option);	
			}
		},
		error : function(e) {
			console.log("ERROR: ", e);
			display(e);
		},
		done : function(e) {
			console.log("DONE");
			enableSearchButton(true);
		}
	});
}
		
		function addRow() {
			  window.location.href = "/createInDoc?addRow";
			}
			function removeRow(id) {
				window.location.href = "/createInDoc?removeRow=" + id;
					
			}

</script>
	</div>

</body>

</html>