<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8" />
<body>
	<div th:fragment="mainPart">
		<form action="#" th:action="@{/createInDoc}" th:object="${docList}"
			method="post">
			<div class="row mb--20">
			<div class="col-1">номер</div>
			<div class="col-2">место приема</div>
			<div class="col-1">ячейка приема</div>
			<div class="col-3">инструмент</div>
			<div class="col-2">количество</div>
			<div class="col-1">удалить</div>
		</div> 
		 <div th:each="doc,iter : ${docList}">
		 <div class="row mb--20">
				<div class="col-1"><span th:text = "${iter.index}+1"></span></div>
				<div class="col-2">
					<select class="form-control selectpicker" th:field="*{docList[__${iter.index}__].inLocation}"
						id="locationWB">
						<option th:each="entry : ${locationList.entrySet()}"
							th:value="${entry.key}" th:text="${entry.value}">This
							will be replaced - is only used for natural templating</option>
					</select>
				</div>
		 </div>
		
		</form>
	</div>
</body>

</html>